@font-face {
    font-family: DeterminationMono;
    src: url('DTM-Mono.otf');
}

body {
    font-family: DeterminationMono, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16pt;
    user-select: none;
    background-color: #eee;
}

header {
    margin: 0 auto;
    max-width: 800px;
    max-height: 10vh;
}

h1,
h2,
ul {
    margin: 0;
    padding: 0;
}

header h1 {
    float: left;
    width: 20%;
    font-weight: lighter;
    letter-spacing: -3pt;
}

header h1 a {
    margin: 5px;
    font-size: 35pt;
    text-indent: 35%;
    display: block;
    background-image: url('switch.svg');
    background-position: top left;
    background-repeat: no-repeat;
    color: black;
    text-transform: lowercase;
}

header h1 a:hover {
    text-decoration: none;
    color: black;
}

header nav {
    width: 70%;
    float: right;
    margin-left: 10%;
}

header nav h2 {
    padding-top: 10pt;
    font-size: 100%;
    line-height: 5pt;
    text-align: center;
}

header nav ul {
    display: table;
    list-style-type: none;
    font-size: 100%;
    padding-top: 10pt;
    width: 100%;
}

header nav li {
    display: table-cell;
    margin-right: 10px;
    /* width: fit-content; */
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
}

header nav li:first-child {
    border-right: none;
}

header nav li:hover {
    background-color: #dddddd;
}

.main {
    border-top: 3px solid gray;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-image: url('bg.jpg');
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50%;
}

.main article {
    width: 75%;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #bbb;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main ul {
    list-style-type: none;
    width: 96%;
    margin: 0 auto;
}

.main li {
    border: 1px solid #aaaaaa;
    background-color: #ddd;
    border-bottom: none;
    margin-top: 10px;
    border-radius: 5px;
}

a:visited {
    text-decoration: none;
    color: black;
}

header nav {
    display: inline;
}

a {
    text-decoration: none;
}

.control-on {
    background: url('toggle.png') 0 0;
}

.control-off {
    position: relative;
    background: url('toggle.png') 0 -100px;
}

.control-off,
.control-on {
    width: 90%;
    height: 96px;
    font-weight: bold;
    font-size: 74px;
    background-repeat: no-repeat;
    color: #333333;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    text-indent: 220px;
}

.timing {
    text-align: center;
}

.red {
    color: #CC0000;
    /*text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;*/
}

.green {
    color: #00CC00;
    /*text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;*/
}

.error {
    text-decoration: underline;
    text-decoration-color: #AA0000;
    font-style: italic;
}

.error:before {
    content: "Error:";
    padding-left: 10px;
    padding-top: auto;
}

p {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
}

#slogan {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

h1 {
    font-size: 24px;
}

footer {
    clear: both;
    border-top: 5px solid #333333;
    color: #ccc;
    font-size: 0.6em;
    line-height: 32px;
    text-align: center;
    padding-top: 16px;
    background-color: #666666;
    max-height: 10vh;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
}